{% extends 'base.html' %}
{% block footer_class %}
    bk-blue
{% endblock %}
{% block body_class %}
    bk-blue
{% endblock %}
{% block content %}
    <div class="w3-padding-64 w3-content container w3-container">
        <div class="columns is-multiline">
            {% for item in 'abcdefg' %}
                <div class="column is-4 w3-padding-32 w3-padding-large">
                    <div class="">
                        <div class="card-image">
                            <figure class="image is-1by1">
                                <img src="https://bulma.io/images/placeholders/480x480.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div>
                            <hr>
                            <p class="title is-4">Carrot Cake</p>
                            <p>
                                {% lorem '1' %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
